<div class="container w-50">
  <h2 class="text-center">Login</h2>
  <form (ngSubmit)="submitForm()" [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1" class="my-2">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="email">
      <small id="emailHelp" class="form-text text-danger" *ngIf="loginForm.get('email')?.hasError('required')">Trường này không được để trống</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="my-2">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
      <small id="emailHelp" class="form-text text-danger" *ngIf="loginForm.get('password')?.hasError('required')">Trường này không được để trống</small>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>